import os
import sys
import ast
import import_ipynb
import pandas as pd
import networkx as nx
import random
from faker import Faker
import uuid
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.seasonal import seasonal_decompose
from datetime import datetime, timedelta
from mysql.connector import Error
from urllib.parse import quote_plus
from sqlalchemy import create_engine
from geopy.geocoders import Nominatim
import time
import nbimporter
import model_functions as nb
import numpy as np
import pandas as pd
import seaborn as sns
import mysql.connector
from sklearn.svm import SVC
from datetime import datetime
import matplotlib.pyplot as plt
from mysql.connector import Error
from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, ConfusionMatrixDisplay, roc_auc_score